@media (max-width: 760px) {
    .project__container {
        width: 320px;

        overflow-y: clip;
    }

    .project__item {
        transition: none;
        width: 320px;
    }

    .project__item > img {
        width: 100%;
    }
    
    .project__item:hover {
        transition: none;
        transform: none;
    }
}